<!DOCTYPE html>
<html>

<head>

<title>Payment</title>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

<h2>Complete Payment</h2>

<p>Amount : ₹{{ order.amount }}</p>

<button id="pay-btn">

Pay Now

</button>

<script>

var options = {

key: "{{ razorpay_key }}",

amount: "{{ order.amount * 100 }}",

currency: "INR",

name: "Uzhavar Unavu Podi",

description: "{{ order.product }}",

order_id: "{{ razorpay_order_id }}",

handler: function(response){

window.location.href="/payment-success?payment_id="+response.razorpay_payment_id+
"&order_id="+response.razorpay_order_id+
"&signature="+response.razorpay_signature;

},

theme: {

color:"#2E7D32"

}

};

var rzp = new Razorpay(options);

document.getElementById("pay-btn").onclick=function(e){

rzp.open();

e.preventDefault();

}

</script>

</body>

</html>